[Unit]
Description=Xen:Custom Platform
#After=proc-xen.mount xenstored.service netcfg.service ovs-vswitchd.service ovsdb-server.service xen-VTD.service
After=proc-xen.mount xenstored.service netctl@bridge-xen.service ovs-vswitchd.service ovsdb-server.service xen-VTD.service
Requires=proc-xen.mount xenstored.service
ConditionPathExists=/proc/xen

[Service]
ExecStartPre=/data/xen4-toolbox/ovs-bridges-maker/bin/ovs-bridges-maker.sh start
ExecStart=/data/xen4-toolbox/xen4-launcher/xl-boot.sh

ExecStop=/data/xen4-toolbox/xen4-launcher/xl-shutdown-VM.sh
ExecStopPost=/data/xen4-toolbox/ovs-bridges-maker/bin/ovs-bridges-maker.sh stop

Type=oneshot
RemainAfterExit=yes
#StandardOutput=tty
TimeoutSec=0

[Install]
WantedBy=multi-user.target

