[Unit]
Description=Xen:Custom VT-D PCIBACK
Requires=proc-xen.mount xenstored.service
#After=proc-xen.mount xenstored.service xenconsoled.service
After=proc-xen.mount xenstored.service
Before=xen-platform.service

[Service]
ExecStart=/data/xen4-toolbox/xen4-pciback/bin/vtd-devices.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

